/.cursor
/config.json
/logs
/venv
/performance
/sessions
/.pytest_cache
/test_sessions
/strategies/High-Volatility Market Strategies - BACKTEST
/strategies/Low-Volatility Market Strategies - BACKTEST/
/strategies/Ranging Market Strategies - BACKTEST/
/strategies/Transitional Market Strategies - BACKTEST
/strategies/Trending Market Strategies - BACKTEST/
/strategies/Missing Strategies - BACKTEST/
*.json